
h1 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
}
h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: .5rem 2rem;
}
.wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}
.wrapper-choice {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem 1.5rem;
}
.wrapper-choice:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
a.choice {
    color: black;
    text-decoration: none;
}